In [26]:
import pandas as pd
import json as js
import numpy as np
import datetime as dt

In [48]:
# Name of the CSV file
file = 'Resources/bfro_reports_geocoded.csv'
file2 = 'Resources/nuforc_reports.json'

In [28]:
df = pd.read_csv(file)

In [29]:
df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,For the past four years my family has seen a c...,This location is near the junction of Bureau o...,Shannon County,South Dakota,Fall,Report 5173: Large bipedal animal frequently o...,43.35851,-102.3971,2002-12-04,5173.0,...,0.02,0.0029,1.0,snow,1032.26,"Snow (< 1 in.) starting in the afternoon, cont...",1.0,7.86,25.0,2.14
2,This happened to me when I was 13 in upstate S...,"York South Carolina at Walnut Farm, Piedmont A...",York County,South Carolina,Fall,NaN,NaN,NaN,NaN,977.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45000,-71.5000,1974-09-20,6496.0,...,0.16,0.0000,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
4,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Delete all the row with the missing values

In [33]:
# Looking for the missing values
dfC = df.count()
dfC

observed              4932
location_details      4211
county                4969
state                 4969
season                4969
title                 3995
latitude              3995
longitude             3995
date                  3995
number                4969
classification        4969
geohash               3995
temperature_high      3288
temperature_mid       3136
temperature_low       3139
dew_point             3323
humidity              3323
cloud_cover           3034
moon_phase            3346
precip_intensity      2666
precip_probability    2664
precip_type           1685
pressure              2572
summary               3320
uv_index              3342
visibility            2998
wind_bearing          3337
wind_speed            3339
dtype: int64

In [35]:
# Drop off all the rows with the missing values
dfC = df.dropna()
dfC.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
1,For the past four years my family has seen a c...,This location is near the junction of Bureau o...,Shannon County,South Dakota,Fall,Report 5173: Large bipedal animal frequently o...,43.35851,-102.39710,2002-12-04,5173.0,...,0.02,0.0029,1.00,snow,1032.26,"Snow (< 1 in.) starting in the afternoon, cont...",1.0,7.86,25.0,2.14
9,My family had moved from the city of Rochester...,"East on Route 104, near town of Huron.",Wayne County,New York,Fall,"Report 26566: Man observes tall, white hair-co...",43.27314,-76.89331,2003-09-20,26566.0,...,0.81,0.0007,1.00,rain,1020.92,Overcast in the morning.,5.0,10.00,286.0,1.64
11,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
18,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,2015-10-02,49883.0,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
27,After getting online to your site we decided t...,Wayne National Forrest,Washington County,Ohio,Fall,Report 26830: Group finds possible Bigfoot tra...,39.42635,-81.37085,2009-10-31,26830.0,...,0.42,0.0158,1.00,rain,1011.48,Rain until afternoon.,3.0,1.97,189.0,3.94

In [36]:
# verify all the dropped rows
dfC.count()

observed              688
location_details      688
county                688
state                 688
season                688
title                 688
latitude              688
longitude             688
date                  688
number                688
classification        688
geohash               688
temperature_high      688
temperature_mid       688
temperature_low       688
dew_point             688
humidity              688
cloud_cover           688
moon_phase            688
precip_intensity      688
precip_probability    688
precip_type           688
pressure              688
summary               688
uv_index              688
visibility            688
wind_bearing          688
wind_speed            688
dtype: int64

In [37]:
# Describe our csv file
dfC.describe()

,latitude,longitude,number,temperature_high,temperature_mid,temperature_low,dew_point,humidity,cloud_cover,moon_phase,precip_intensity,precip_probability,pressure,uv_index,visibility,wind_bearing,wind_speed
count,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000,688.000000
mean,40.083648,-94.291978,28317.450581,62.294753,55.140015,47.985276,48.337631,0.801817,0.647137,0.501483,0.010167,0.762108,1015.184215,4.665698,7.936765,197.969477,3.972922
std,5.680570,17.326849,21555.700977,18.219087,16.978653,16.523943,16.289389,0.113735,0.287820,0.290022,0.018085,0.316520,6.581023,2.693761,2.257318,89.346246,3.159254
min,25.141000,-149.766700,77.000000,9.800000,8.595000,0.090000,-1.830000,0.330000,0.000000,0.010000,0.000100,0.010000,980.340000,0.000000,0.740000,0.000000,0.100000
25%,36.935900,-111.703725,8790.250000,49.242500,43.271250,35.925000,37.755000,0.740000,0.417500,0.250000,0.000700,0.540000,1011.640000,2.000000,6.707500,132.500000,1.487500
50%,40.456215,-87.196105,24910.500000,61.990000,55.025000,48.075000,47.520000,0.810000,0.710000,0.520000,0.003100,0.985000,1015.055000,4.000000,8.849500,203.000000,3.245000
75%,44.739980,-81.453063,45065.000000,77.752500,68.940000,60.787500,62.262500,0.880000,0.910000,0.760000,0.010800,1.000000,1019.132500,6.000000,9.790000,260.000000,5.590000
max,64.891390,-68.228300,69193.000000,97.630000,85.950000,84.340000,77.400000,1.000000,1.000000,0.990000,0.185000,1.000000,1037.980000,11.000000,10.000000,359.000000,23.940000

## Change the date format to "mm/dd/yyyy"

In [45]:
dfC['date'] = pd.to_datetime(dfC.date, format='%m-%d-%Y')

<ipython-input-45-8418e905fbfa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['date'] = pd.to_datetime(dfC.date, format='%m-%d-%Y')

In [46]:
dfC['date'] = dfC['date'].dt.strftime('%m-%d-%Y')

<ipython-input-46-7b79ca0b3392>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfC['date'] = dfC['date'].dt.strftime('%m-%d-%Y')

In [47]:
dfC.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
1,For the past four years my family has seen a c...,This location is near the junction of Bureau o...,Shannon County,South Dakota,Fall,Report 5173: Large bipedal animal frequently o...,43.35851,-102.39710,12-04-2002,5173.0,...,0.02,0.0029,1.00,snow,1032.26,"Snow (< 1 in.) starting in the afternoon, cont...",1.0,7.86,25.0,2.14
9,My family had moved from the city of Rochester...,"East on Route 104, near town of Huron.",Wayne County,New York,Fall,"Report 26566: Man observes tall, white hair-co...",43.27314,-76.89331,09-20-2003,26566.0,...,0.81,0.0007,1.00,rain,1020.92,Overcast in the morning.,5.0,10.00,286.0,1.64
11,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,06-07-2016,55269.0,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
18,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,10-02-2015,49883.0,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
27,After getting online to your site we decided t...,Wayne National Forrest,Washington County,Ohio,Fall,Report 26830: Group finds possible Bigfoot tra...,39.42635,-81.37085,10-31-2009,26830.0,...,0.42,0.0158,1.00,rain,1011.48,Rain until afternoon.,3.0,1.97,189.0,3.94

In [52]:
# Display an overview of the county column
dfC['county'].value_counts()

Pierce County          16
King County            15
Jefferson County       12
Grays Harbor County     9
Lake County             7
                       ..
Kosciusko County        1
Berrien County          1
Itasca County           1
Muskingum County        1
Autauga County          1
Name: county, Length: 376, dtype: int64

In [53]:
# Display an overview of the state column
dfC['state'].value_counts()

Washington        109
Ohio               78
Florida            48
Illinois           45
Oregon             31
West Virginia      25
Alabama            22
Michigan           22
Kentucky           22
Georgia            19
Texas              18
New York           16
California         16
Missouri           16
New Jersey         16
Pennsylvania       15
Wisconsin          13
Colorado           13
North Carolina     11
Indiana            11
Tennessee          11
Virginia           11
Oklahoma           10
Arkansas           10
Massachusetts       9
Idaho               7
Iowa                6
Montana             6
Connecticut         5
Minnesota           5
Maine               5
Kansas              4
Louisiana           4
Utah                4
Maryland            4
Alaska              4
Mississippi         3
Vermont             3
New Hampshire       2
Nebraska            2
South Carolina      2
Arizona             2
Rhode Island        1
Delaware            1
South Dakota        1
Name: state, dtype: int64

In [54]:
# The Amount column is the wrong data type. It should be numeric.
dfC.dtypes

observed               object
location_details       object
county                 object
state                  object
season                 object
title                  object
latitude              float64
longitude             float64
date                   object
number                float64
classification         object
geohash                object
temperature_high      float64
temperature_mid       float64
temperature_low       float64
dew_point             float64
humidity              float64
cloud_cover           float64
moon_phase            float64
precip_intensity      float64
precip_probability    float64
precip_type            object
pressure              float64
summary                object
uv_index              float64
visibility            float64
wind_bearing          float64
wind_speed            float64
dtype: object

In [56]:
# Group the data by states and county
grouped_national_data = dfC.groupby(['county', 'state'])

In [57]:
grouped_national_data.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
1,For the past four years my family has seen a c...,This location is near the junction of Bureau o...,Shannon County,South Dakota,Fall,Report 5173: Large bipedal animal frequently o...,43.35851,-102.39710,12-04-2002,5173.0,...,0.02,0.0029,1.00,snow,1032.26,"Snow (< 1 in.) starting in the afternoon, cont...",1.0,7.86,25.0,2.14
9,My family had moved from the city of Rochester...,"East on Route 104, near town of Huron.",Wayne County,New York,Fall,"Report 26566: Man observes tall, white hair-co...",43.27314,-76.89331,09-20-2003,26566.0,...,0.81,0.0007,1.00,rain,1020.92,Overcast in the morning.,5.0,10.00,286.0,1.64
11,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,06-07-2016,55269.0,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
18,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,10-02-2015,49883.0,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
27,After getting online to your site we decided t...,Wayne National Forrest,Washington County,Ohio,Fall,Report 26830: Group finds possible Bigfoot tra...,39.42635,-81.37085,10-31-2009,26830.0,...,0.42,0.0158,1.00,rain,1011.48,Rain until afternoon.,3.0,1.97,189.0,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4930,I was leaving a freinds house a little after 9...,3/4 of a mile west on KY 8 (aka 3608) from the...,Boone County,Kentucky,Fall,Report 31368: Nighttime sighting by motorcycli...,39.08002,-84.79574,09-15-2011,31368.0,...,0.60,0.0151,1.00,rain,1022.11,Mostly cloudy in the morning.,7.0,5.92,12.0,2.63
4947,I had stopped my boat along Black Bayou to go ...,"Caddo Parish, Oil City, Louisiana, adjacent to...",Caddo Parish,Louisiana,Fall,Report 1313: creature walked directly towards...,32.78170,-93.94670,11-15-1987,1313.0,...,0.81,0.1184,1.00,rain,1012.01,Breezy until afternoon and heavy rain starting...,3.0,6.78,138.0,11.56
4951,"Since October I have had many howls, wood knoc...",Take Hwy.471 to Dartigo Rd. to the Church of G...,Grant Parish,Louisiana,Winter,Report 56576: Homeowner describes ongoing acti...,31.36800,-92.42200,01-21-2017,56576.0,...,0.80,0.0106,0.80,rain,1001.69,Mostly cloudy starting in the afternoon.,4.0,8.11,156.0,2.22
4952,Encounter as told to BFRO researchers Scott Ke...,On file w/BFRO,La Salle Parish,Louisiana,Fall,Report 1536: Two teenage deer hunters have enc...,31.68250,-92.31040,11-18-2000,1536.0,...,0.75,0.0439,1.00,rain,1023.10,Rain throughout the day.,3.0,7.72,43.0,7.76
4955,We just had a house built. Esler field . buy a...,Esler Field Road near the airport,Rapides Parish,Louisiana,Unknown,Report 1459: Witness looked up into the eyes ...,31.37990,-92.37835,07-15-1978,1459.0,...,0.33,0.0041,1.00,rain,1012.76,Humid and mostly cloudy throughout the day.,5.0,7.64,224.0,2.76

In [58]:
# Count how many sightings have occured within each state
state_counts =dfC["state"].value_counts()
state_counts.head()

Washington    109
Ohio           78
Florida        48
Illinois       45
Oregon         31
Name: state, dtype: int64

In [59]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = dfC.groupby(['state'])

In [60]:
grouped_df.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
1,For the past four years my family has seen a c...,This location is near the junction of Bureau o...,Shannon County,South Dakota,Fall,Report 5173: Large bipedal animal frequently o...,43.35851,-102.39710,12-04-2002,5173.0,...,0.02,0.0029,1.00,snow,1032.26,"Snow (< 1 in.) starting in the afternoon, cont...",1.0,7.86,25.0,2.14
9,My family had moved from the city of Rochester...,"East on Route 104, near town of Huron.",Wayne County,New York,Fall,"Report 26566: Man observes tall, white hair-co...",43.27314,-76.89331,09-20-2003,26566.0,...,0.81,0.0007,1.00,rain,1020.92,Overcast in the morning.,5.0,10.00,286.0,1.64
11,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,06-07-2016,55269.0,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
18,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,10-02-2015,49883.0,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
27,After getting online to your site we decided t...,Wayne National Forrest,Washington County,Ohio,Fall,Report 26830: Group finds possible Bigfoot tra...,39.42635,-81.37085,10-31-2009,26830.0,...,0.42,0.0158,1.00,rain,1011.48,Rain until afternoon.,3.0,1.97,189.0,3.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4832,Myself and two buddies were bow hunting a trac...,Highway 61 ends into Boston Road..Take a left ...,Nelson County,Kentucky,Fall,Report 23730: Bowhunters get unexpected respon...,37.77550,-85.67188,11-15-1978,23730.0,...,0.53,0.0481,1.00,rain,1024.03,Heavy rain until afternoon.,2.0,4.49,42.0,7.95
4947,I had stopped my boat along Black Bayou to go ...,"Caddo Parish, Oil City, Louisiana, adjacent to...",Caddo Parish,Louisiana,Fall,Report 1313: creature walked directly towards...,32.78170,-93.94670,11-15-1987,1313.0,...,0.81,0.1184,1.00,rain,1012.01,Breezy until afternoon and heavy rain starting...,3.0,6.78,138.0,11.56
4951,"Since October I have had many howls, wood knoc...",Take Hwy.471 to Dartigo Rd. to the Church of G...,Grant Parish,Louisiana,Winter,Report 56576: Homeowner describes ongoing acti...,31.36800,-92.42200,01-21-2017,56576.0,...,0.80,0.0106,0.80,rain,1001.69,Mostly cloudy starting in the afternoon.,4.0,8.11,156.0,2.22
4952,Encounter as told to BFRO researchers Scott Ke...,On file w/BFRO,La Salle Parish,Louisiana,Fall,Report 1536: Two teenage deer hunters have enc...,31.68250,-92.31040,11-18-2000,1536.0,...,0.75,0.0439,1.00,rain,1023.10,Rain throughout the day.,3.0,7.72,43.0,7.76
4955,We just had a house built. Esler field . buy a...,Esler Field Road near the airport,Rapides Parish,Louisiana,Unknown,Report 1459: Witness looked up into the eyes ...,31.37990,-92.37835,07-15-1978,1459.0,...,0.33,0.0041,1.00,rain,1012.76,Humid and mostly cloudy throughout the day.,5.0,7.64,224.0,2.76

In [61]:
grouped_df["wind_speed"].sum()

state
Alabama            72.40
Alaska             30.05
Arizona            10.60
Arkansas           26.63
California         33.09
Colorado           50.32
Connecticut        15.41
Delaware            3.55
Florida           158.44
Georgia            60.31
Idaho              25.41
Illinois          229.27
Indiana            47.99
Iowa               25.31
Kansas             24.56
Kentucky           89.86
Louisiana          24.30
Maine              16.89
Maryland            6.40
Massachusetts      32.58
Michigan          110.21
Minnesota          23.19
Mississippi        14.79
Missouri           79.51
Montana            21.52
Nebraska            5.35
New Hampshire       9.68
New Jersey         35.45
New York           69.57
North Carolina     53.54
Ohio              411.41
Oklahoma           49.97
Oregon             91.89
Pennsylvania       50.59
Rhode Island        5.47
South Carolina      6.98
South Dakota        2.14
Tennessee          32.42
Texas              75.79
Utah                2.61
Vermont             5.19
Virginia           48.00
Washington        378.52
West Virginia      98.29
Wisconsin          67.92
Name: wind_speed, dtype: float64

In [62]:
grouped_df["pressure"].sum()

state
Alabama            22369.62
Alaska              4029.91
Arizona             2023.46
Arkansas           10157.56
California         16267.55
Colorado           13169.22
Connecticut         5089.60
Delaware            1026.23
Florida            48775.38
Georgia            19340.15
Idaho               7078.68
Illinois           45602.44
Indiana            11179.11
Iowa                6109.71
Kansas              4054.99
Kentucky           22377.61
Louisiana           4049.56
Maine               5082.83
Maryland            4059.03
Massachusetts       9114.59
Michigan           22297.13
Minnesota           5066.30
Mississippi         3044.44
Missouri           16237.55
Montana             6128.58
Nebraska            2036.10
New Hampshire       2010.26
New Jersey         16221.73
New York           16235.60
North Carolina     11182.46
Ohio               79222.02
Oklahoma           10146.38
Oregon             31469.23
Pennsylvania       15234.61
Rhode Island        1014.70
South Carolina      2040.74
South Dakota        1032.26
Tennessee          11151.20
Texas              18269.51
Utah                4061.48
Vermont             3059.80
Virginia           11152.08
Washington        110594.62
West Virginia      25421.13
Wisconsin          13159.60
Name: pressure, dtype: float64

In [65]:
#Calcul the sum of the pressure by state
state_pressure = grouped_df["pressure"].sum()
state_pressure.head()

state
Alabama       22369.62
Alaska         4029.91
Arizona        2023.46
Arkansas      10157.56
California    16267.55
Name: pressure, dtype: float64

In [66]:
#Calcul the sum of the wind speed by state
state_pressure = grouped_df["wind_speed"].sum()
state_pressure.head()

state
Alabama       72.40
Alaska        30.05
Arizona       10.60
Arkansas      26.63
California    33.09
Name: wind_speed, dtype: float64

In [68]:
# Group all the county by their state
grouped_data = grouped_df.groupby(['county', 'state'])

grouped_data.count().head(20)

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'